<!DOCTYPE html>
<html>
<head>
  <title>RailPass</title>
  <%= stylesheet_link_tag    "rail_pass/application", :media => "all" %>
  <%= javascript_include_tag "rail_pass/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
